html, body{
    margin: 0;
    padding: 0;
    background-color: FAF9F6;
    font-family: "Lobster", sans-serif;
    font-style: normal;
}

/*nav*/
.navbar{
    position: sticky;
    top: 0;
    overflow: hidden;

    display: flex;
    justify-content: space-around;
    background-color: #A2574F;
    padding: 20px;
}

#buttons{
    display: flex;
    align-items: center;
}

#homebutton{
    display: flex;
    align-items: center;
    width: 40px;
    height: auto;

}

#page2{
    display: flex;
    align-items: center;
    width: 40px;
    height: auto;
}

#page3{
    display: flex;
    align-items: center;
    width: 40px;
    height: auto;
}

#page4{
    display: flex;
    align-items: center;
    width: 40px;
    height: auto;
}

/*main title*/
#title{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #A2574F;
    text-shadow: 1px 2px 1px #474747;
}

.content{
    display: flex;
    justify-content: center;
}

/*hero image and caption*/
#mainsection{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main{
    background-color: #FAF9F6;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px #474747;
}

#maincaption{
    margin-top: 20px;
}

.heroimage{
    width: 400px;
    height: auto;
}

.herovideo{
    width: 300px;
    height: auto;
}


/*lower section*/
#lowersection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: #FAF9F6;
    box-shadow: 10px 10px 10px #474747;
    color: #A2574F;
}

/*after paragraph*/
.afterpara{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/*footer*/
footer{
    bottom: 0;
    background-color: #A2574F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color:#FAF9F6
}

#spotify{
    display: flex;
    align-items: center;
    width: 40px;
    height: auto;
    padding-left: 20px;
}

/*misc*/
.clock{
    display: flex;
    justify-content: center;
}


/*Media Queries*/
@media screen and (max-width: 769px) {
    body{
        .content{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        #lowersection{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}