html, body{
    margin: 0;
    padding: 0;
    background-color: #fff0f0;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
}

/*nav*/
.navbar{
    position: sticky;
    top: 0;
    overflow: hidden;

    display: flex;
    justify-content: space-around;
    background-color: #A2574F;
    padding: 20px;
}

#buttons{
    display: flex;
    align-items: center;
}

#homebutton{
    display: flex;
    align-items: center;
    width: 40px;
    height: auto;

}

#page2{
    display: flex;
    align-items: center;
    width: 40px;
    height: auto;
}

#page3{
    display: flex;
    align-items: center;
    width: 40px;
    height: auto;
}

#page4{
    display: flex;
    align-items: center;
    width: 40px;
    height: auto;
}

/*main title*/
#title{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #A2574F;
}

#content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*hero image and caption*/
#mainsection{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main{
    background-color: #FAF9F6;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px #474747;
}

#maincaption{
    margin-top: 20px;
}

.heroimage{
    width: 400px;
    height: auto;
}

.herovideo{
    width: 300px;
    height: auto;
}


/*lower section*/
#lowersection{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    background-color: #FAF9F6;
    box-shadow: 10px 10px 10px #474747;
    color: #A2574F;
}

#lowerimages{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#lowerimage{
    width: auto;
    height: 200px;
}

#lower1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lower2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

/*after paragraph*/
#afterpara{
    display: flex;
    justify-content: center;
    padding: 20px;
}

/*footer*/
footer{
    bottom: 0;
    background-color: #A2574F;
    display: flex;
    justify-content: center;
    padding: 15px;
}

/*misc*/
.clock{
    display: flex;
    justify-content: center;
}


/*Media Queries*/
@media screen and (min-width: 769px) {
    #content{
        display: flex;
        flex-direction: row;
    }
    #lowersection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -20px;
    }
}